{
  "LAVALINK": {"host":"localhost","port":7000,"password":"testing"},
  "PREFIX": <prefix>,
  "DISCORD_TOKEN": <token>,
  "OWNER_ID": <>,
  "GENIUS_TOKEN": <genius token>,
  "SPOTIFY_CLIENT_ID": <spotify id>,
  "SPOTIFY_CLIENT_SECRET": <spotify secret>,
  "TEST_GUILD_IDS": [<guild id 1>, <guild id 1>]
  "INSULTS": [
    <1>,
    <2>,
    <3>,
  ]
}
